
.boxOne{
    padding-top: 50px;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.myPerfil{
    width: 60em;
    padding: 100px;
}
.myPerfil h1{
    font-size: 50px;
    font-family: var( --fonteDosTitulos);
    margin-bottom: 20px;
}
.myPerfil p{
    font-size: 17px;
    font-family: var(--fonteDosParagrafos);
    gap: 2px;
    margin-bottom: 80px;
    color: rgba(255, 255, 255, 0.477);
}
.myPerfil a{
    text-decoration: none;
    color: var(--corDasLetras);
    background-color: var(--corSecundaria);
    padding: 15px;
    border-radius: 10px;
    transition: 0.7s;
}
.myPerfil a:hover{
    text-decoration: none;
    color: var(--corDasLetras);
    background-color: var(--corQuartearia);
    padding: 15px;
    border-radius: 10px;
}
.myIcon{
    width: 30em;
    padding: 100px;
}
.myIcon img{
    border-radius: 100%;
    width: 300px;
    height: 300px;
}
.boxTwo{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tittle{
    gap: 10px;
    height: 90px;
    padding: 100px;
}
.tittle h1{
    margin-bottom: 30px;
    font-size: 20px;
    font-family: var( --fonteDosTitulos);
}
.tittle p{
    width: 480px;
    font-size: 40px;
    font-family: var(--fonteDosParagrafos);
    color: var(--corQuartearia);
    padding-bottom: 15px;
    border-bottom: 1px dashed var(--corQuartearia);
}
.skills{
    gap: 90px;
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
}
.skills div{
    width: 130px;
    text-align: center;
    height: 130px;
    margin: auto;
    transition: 0.6s;
}

.experienc{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.experienc:hover{
    width: 140px;
    text-align: center;
    filter:brightness(100px);
    transition: 0.6s;
}
.boxTree{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.Conteiner{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
}
.containerOne{
    overflow: hidden;
    border-radius: 10px;
    width: 250px;
    height: 400px;
    transition: 0.7s;
    background-color: var(--corTercearia);
}
.containerOne:hover{
    width: 260px;
    height: 410px;
    overflow: hidden;
}
.containerTwo{
    width: 600px;
    background-color: var(--corPrimaria);
}
.containerTwo h1{
 color: var(--corQuartearia);
 font-size: 40px;
 padding-bottom: 10px;
 text-align: center;
}
.containerTwo p{
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}
.ImgPerfil{
    background-image: url(../IMAGENS/IMG_20230916_014924_671.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.9s;
    overflow: hidden;
}
.ImgPerfil:hover{
    height: 102%;
    display: block;
    overflow: hidden;
    transition: 0.7s;
}
.info{
    padding: 20px;
    gap: 3px;
}
form{
    display:flex;
    flex-direction: column;
    padding: 40px;
    background-color:var(--corPrimaria);
}

input[type="text"],
input[type="email"]{
   width: 90%;
   color: #fff;
   padding: 8px;
   margin-bottom: 16px;
   margin-top: 6px;
   background-color: var(--corSecundaria);
   border: none;
   font-family: arial;
}
form textarea{
    background-color: var(--corSecundaria);
    border: none;
    color: #fff;
    font-family: arial;
    margin-top: 6px;
   max-width:90%;
   min-width: 90%;
   padding: 8px;
   max-height: 80px;
   min-height: 80px;
   margin-bottom: 10px;
}
form i{
    font-size: 10px;
    margin-left: 5px;
    font-family: arial;
    opacity: 0;
    color: red;
    transition: 0.3s;
}
.btnFormSend {
    margin-top: 10px;
    padding-left: 10px;
   display: flex;
   width: 90%;
   flex-direction: row;
   justify-content: space-between;
}

input[type="submit"],input[type= "button"] {
   padding: 8px 16px;
   background-color: var(--corSecundaria);
   color: #fff;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: 0.7s;
}

input[type="submit"],input[type= "button"]:hover {
   background-color: var(--corQuartearia);
}
.SendFeeback{
    gap: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 4s;
}
.SendFeeback img{
    width: 200px;
    margin-top: 20px;
}
.SendFeeback button{
    margin-top: 20px;
    background: var(--corSecundaria);
    padding: 10px;
    color: #fff;
    align-items: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    font-size: 15px;
}
.SendFeeback button:hover{
    color: #ffffff;
    background-color: var(--corQuartearia);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.infomation{
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    width: 300px;
    display: none;
    flex-direction: column;
    transition: 3s;
}
.infomation h3{
    color: var(--corQuartearia);
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}
.infomation p{
    text-align: start;
    font-size: 18px;
}
.infomation strong{
    font-family:arial;
    font-size: 15px;
}
.infomation button{
    margin-top: 20px;
    padding: 8px 16px;
    background-color: var(--corSecundaria);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80px;
}
.infomation button:hover{
    background-color: var(--corQuartearia);
    transition: 0.7s;
  
}
.boxFor{
    width: 100%;
}
.projeto{
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projeto img{
    width: 300px;
    padding: 20px;
    border: 5px solid white;
}