:root{
    --corPrimaria: #000000;
    --corTercearia:#595959;
    --corSecundaria: #252525;
    --corQuartearia:#f90800;
    --corDasLetras: #ffffff;
    --fonteDosTitulos: arial;
    --fonteDosParagrafos: Monaco;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--corPrimaria);
    color:var(--corDasLetras) ;
}
html{
    scroll-behavior: smooth;
}
